body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}

.header img {
    height: 40px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.container {
    padding: 20px;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #010F56;
}

.title-section button {
    border: 2px solid #010F56;
    padding: 10px 20px;
    background-color: #010F56;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.filter-title {
    color: #010F56;
    margin-bottom:1px;
    width: 100%;
}

.filter-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 100px;
}

.filters label {
    margin-bottom: 5px;
    color: #010F56;
}

.filters input, .filters select {
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

.filters button {
    padding: 5px 10px;
    background-color: #010F56;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.user-table th {
    background-color: #f1f1f1;
}

.user-table .actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.user-table .actions .edit-button {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
}

.user-table .actions .delete-button {
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    color: red;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination button {
    padding: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 10%;
}

.pagination button.active {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 20%;
}
