* {
    margin: 0;
    padding: 0;
    background-color: #009de2;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo img {
    height: 150px;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    margin: auto;
}
label {
    color: white;
}
input {
    margin-bottom: 20px;
    background-color: white;
    outline: none;
}
button {
    margin-top: 10px;
    color: white;
    background-color: #cecece;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #1b2464;
}
input, button {
    padding: 8px;
    border-radius: 7px;
    border: 0.5px solid #c0c0c0;
}
footer {
    display: flex;
    justify-content: center;
}
footer img {
    height: 50px;
}