@media screen and (max-width: 800px) {
    .resultado-consulta {
        flex-direction: column;
        justify-content: center;
    }
    .resultado-consulta .datos {
        width: 90%;
        margin: auto;
    }
    .resultado-consulta .informacion {
        width: 60%;
        margin: auto;
    }
}
@media screen and (max-width: 625px) {
    .title h1 {
        font-size: 18px;
    }
    .title button {
        font-size: 10px;
    }
}