* {
    margin: 0;
    padding: 0;
}
:root {
    --first: #031154;
    --second: #0da1d8;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #444;

}
.container-gestionusuarios {
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}

.header img {
    height: 50px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: var(--first);
}
.title-section .symbol {
    margin-right: 7px;
}
.title-section button {
    border: none;
    padding: 10px;
    background-color: var(--first);
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding: 5px 40px;
}
.filter-title {
    color: var(--first);
    width: 100%;
    font-weight: lighter;
    font-size: 16px;
}
.filter-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: flex-start;
    width: auto; 
    min-width: 80px;
    padding: 5px 0;
    gap: 10px; 
    display: inline-block;
    margin-right: 20px;
}
.filters label {
    display: block; 
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444; 
}
.filters input, 
.filters select {
    padding: 9px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 13px; 
    width: 170px; 
    outline: none;
}
.filters button {
    padding: 5px 10px;
    height: 35px;
    background-color: var(--first);
    color: #ffffff;
    border: 1px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 27px;
}
.user-table-title {
    font-size: 17px;
    padding: 10px 40px;
}

.user-table {
    width: 95vw;
    border-collapse: collapse;
    margin: 20px auto;
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #bdbdbd;
}

.user-table th {
    background-color: #ffffff;
}

.user-table .actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.buttons {
    display:flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.btnDelete {
    background-color: #fff;
    border: none;
    border-right: 1px solid #777;
    border-radius: 0;
}
.btnDelete img {
    height: 27px;
    cursor: pointer;
    
}
.btnEdit {
    background-color: #fff;
    border: none;
    color: var(--second);
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
}
.btnDelete:hover, .btnEdit:hover {
    background-color: #fff;
    
}
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.pagination button {
    padding: 5px 7px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 20%;
}

.pagination button.active {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 20%;
}